<div class="flex justify-center">
    <form (ngSubmit)="submit()" #myForm="ngForm"
        class="p-4 mt-5 rounded-xs border m-auto w-1/3">
        <h1 class="text-center text-sm">Register</h1>
        <div class="my-1 w-full">
            <select id="userType" class="p-2 rounded w-full border text-xs" [(ngModel)]="form.userType" name="userType" #userType="ngModel" required>
                <option value="" disabled selected>Select User Type</option>
                <option value="REGULAR">Regular</option>
                <option value="MODERATOR">Moderator</option>
            </select>
        </div>
        <div class="my-1 w-full">
            <label for="firstName" style="font-size: 12.5px;">First Name</label>
            <input type="firstName" id="firstName"
                class="p-2 rounded w-full border text-xs" placeholder="First Name"
                [(ngModel)]="form.firstName" name="firstName" #firstName="ngModel"
                required>
        </div>
        <div class="my-1 w-full">
            <label for="lastName" style="font-size: 12.5px;">Last Name</label>
            <input type="lastName" id="lastName"
                class="p-2 rounded w-full border text-xs" placeholder="Last Name"
                [(ngModel)]="form.lastName" name="lastName" #lastName="ngModel"
                required>
        </div>
        <div class="my-1 w-full">
            <label for="phoneNumber" style="font-size: 12.5px;">Phone Number</label>
            <input type="phoneNumber" id="phoneNumber"
                class="p-2 rounded w-full border text-xs"
                placeholder="Phone Number" [(ngModel)]="form.phoneNumber"
                name="phoneNumber" #phoneNumber="ngModel" required>
        </div>
        <div class="my-1 w-full">
            <label for="email" style="font-size: 12.5px;">Email</label>
            <input type="email" id="email"
                class="p-2 rounded w-full border text-xs"
                placeholder="Email Address" [(ngModel)]="form.email"
                name="email" #email="ngModel" required>
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="p-2 bg-red-300 text-red-800 rounded">
            Email field must be valid
        </div>
        <div class="my-1 w-full">
            <label for="password" style="font-size: 12.5px;">Password</label>
            <input type="password" id="password"
                class="p-2 rounded w-full border text-xs" placeholder="Password"
                [(ngModel)]="form.password" name="password" #password="ngModel"
                required>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="p-2 bg-red-300 text-red-800 rounded">
            Password field must be valid
        </div>

        <div class="my-1 w-full">
            <label for="confirm_password" style="font-size: 12.5px;">Confirm Password</label>
            <input type="text" id="confirm_password"
                class="p-2 rounded w-full border text-xs"
                placeholder="Confirm Password"
                [(ngModel)]="form.confirm_password" name="confirm_password"
                #confirm_password="ngModel" required>
        </div>
        <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)"
            class="p-2 bg-red-300 text-red-800 rounded">
            Confirm password field must be valid
        </div>

        <div class="my-1 w-full">
            <button style="font-size: 12.5px;" type="submit" [disabled]="myForm.form.invalid"
                class="p-2 w-full bg-orange-500 text-white hover:bg-orange-300 rounded">
                <ng-container  *ngIf="isLoading()">
                    Loading...
                </ng-container>
                <ng-container *ngIf="!isLoading()">
                    Submit
                </ng-container>
            </button>
        </div>
    </form>
</div>
