<div *ngIf="isLoggedIn()">
  <label for="tags" class="px-8">Filter by tag:</label>
  <select class="w-40 h-28 pl-1 fixed top-16" id="tags" multiple (change)="onSelect($event)">
    <option *ngFor="let tag of tags">{{ tag }}</option>
  </select>
</div>
<div *ngIf="isLoggedIn()" class="fixed top-20 right-4">
  <span class="mr-2">Filter by title:</span>
  <input class="w-60 bg-gray-200 rounded pl-2" type="text" [(ngModel)]="searchTerm" (input)="filterQuestionsByTitle()" placeholder="Search">
</div>
<div *ngIf="isLoggedIn()" class="fixed top-28 right-4">
  Filter by user:
  <input class="ml-2 w-28 bg-gray-200 rounded pl-2" type="text" [(ngModel)]="firstName" (input)="filterQuestionsByAuthor(firstName,lastName)" placeholder="First name">
  <input class="ml-2 w-28 bg-gray-200 rounded pl-2" type="text" [(ngModel)]="lastName" (input)="filterQuestionsByAuthor(firstName,lastName)" placeholder="Last name">
</div>
<div class="flex justify-center items-center">
  <div *ngIf="!isLoggedIn()" class="flex items-center justify-center fixed top-16">
    <h1 class="text-2xl text-center bg-orange-200 text-black rounded px-40 py-8">
      Login or Register<br>
      <span class="text-xl block py-4">to be able to view the questions and<br>answers and<br>to find out more!</span>
    </h1>
  </div>
  <div *ngIf="isLoggedIn()" class="fixed top-20 right-100">
    <a class="w-40 px-4 py-2 bg-orange-400 text-black hover:bg-orange-300 rounded" routerLink="/questions/new">
      Ask a Question</a>
  </div>
  <button *ngIf="isLoggedIn()" class="fixed top-32 p-1 w-36 bg-orange-400 text-black hover:bg-orange-300 rounded"
    (click)="areDisplayed = true">
    <ng-container *ngIf="!areDisplayed">
      Show Questions</ng-container>
  </button>
  <button *ngIf="isLoggedIn()" class="fixed top-32 p-1 w-36 bg-orange-400 text-black hover:bg-orange-300 rounded" 
  (click)="showMore()">
    <ng-container *ngIf="areDisplayed">
      Load more
    </ng-container>
  </button>
  <button *ngIf="isLoggedIn()" class="fixed top-44 p-1 w-36 bg-orange-400 text-black hover:bg-orange-300 rounded"
  (click)="getQuestions()">
      Reload
  </button>
  <!-- <input *ngIf="isLoggedIn()" class="fixed top-44" type="text" [(ngModel)]="searchTag" (input)="filterQuestionsByTag()" placeholder="Search by tag"> -->
  <ul *ngIf="areDisplayed && isLoggedIn()" class="w-1/2 mt-40 fixed top-12">
    <ng-container *ngFor="let singleQuestion of questions | slice:0:currentIndex">
      <app-question [question]="singleQuestion"></app-question>
    </ng-container>
  </ul>
  <div *ngIf="!areDisplayed" class="flex items-center justify-center fixed top-72">
    <h1 class="text-4xl text-center bg-orange-200 text-black rounded px-40 py-12">
      Welcome to my simple<br>Stackoverflow website!<br>
      <span class="text-xl block py-4">A place to help you solve your coding challenges</span>
    </h1>
  </div>
</div>

