<li class="answer">
    <div class="odd">
        <strong>#{{answer.id}} Answer to question</strong>
        <ng-container *ngIf="answer.question">
            <strong > #{{answer.question.id}}</strong>
        {{answer.question.text}}
        </ng-container>
        <br></div>
    <div class="even"> {{answer.author.firstName}} {{answer.author.lastName}} ({{score}}) posted
        at {{answer.creationDate | date:'short'}}<br></div>
    <div class="odd">{{answer.text}}<br></div>
    <div class="even"><img [src]="answer.picture" width="200" class="mx-auto pt-4"><br></div>
    <div class="odd flex justify-between border h-8 px-4">
        <button 
        *ngIf="currentUser.userId != answer.author.userId"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded"
        (click) = "like()">
            Like
        </button>
        <button
        *ngIf="currentUser.userId != answer.author.userId" 
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
        (click) = "dislike()">
            Dislike
        </button>
        <div class="text-m">
            Vote count: {{voteCount}}
        </div>
    </div>
    <div *ngIf="currentUser.email === answer.author.email || currentUser.userType === 'MODERATOR'" 
    class="even flex justify-between border rounded font-bold px-4 bg-orange-200 text-black">
        <button (click)="editAnswer()">Edit</button>
        <button (click)="deleteAnswer()">Delete</button>
        <button *ngIf="currentUser.userType === 'MODERATOR' && currentUser.email != answer.author.email" 
        (click)="toggleBanUser()">
            {{ answer.author.banned ? 'Unban' : 'Ban' }}
        </button>
    </div>
</li>
