<div class="flex justify-center items-center">
    <h1 class="text-center text-xl p-2">My Questions</h1>
    <div class="fixed top-28 right-100">
      <a class="w-40 px-4 py-2 bg-orange-400 text-black hover:bg-orange-300 rounded" routerLink="/questions/new">New
        Question</a>
    </div>
    <button class="fixed top-40 p-1 w-36 bg-orange-400 text-black hover:bg-orange-300 rounded" (click)="showMore()">
        Load more
    </button>
    <ul class="w-1/2 mt-40 fixed top-8 h-80 overflow-y-auto">
      <ng-container *ngFor="let singleQuestion of questions | slice:0:currentIndex">
        <app-question [question]="singleQuestion"></app-question>
      </ng-container>
    </ul>
  </div>
