<li class="question">
    <div class="odd"><strong>#{{question.id}} {{question.title}}</strong><br></div>
    <div class="even">{{question.author.firstName}} {{question.author.lastName}} 
        ({{score}}) posted at {{question.creationDate | date:'short'}}<br></div>
    <div class="odd">{{question.text}}<br></div>
    <div class="even">
        <span *ngFor="let tagGroup of question.tags; let i = index">
            <span *ngFor="let tag of tagGroup | keyvalue | slice:1; let last = last;">
                #{{ tag.value }}{{ last && i == question.tags.length - 1 ? '' : ' ' }}
            </span>
        </span>  
    </div> 
    <div class="odd"><img [src]="question.picture" [alt]="question.title" width="200" class="mx-auto pt-2"><br></div>
    <div class="flex justify-between border rounded px-2 bg-orange-200 text-black">
        <a routerLink="questions/{{question.id}}/answers"><strong>See the answers</strong></a>
        <a routerLink="newAnswer/toQuestion/{{question.id}}"><strong>Answer this question</strong></a>
    </div>
    <div class="even flex justify-between border h-8 px-4">
        <button 
        *ngIf="currentUser.userId != question.author.userId"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded"
        (click) = "like()">
            Like
        </button>
        <button
        *ngIf="currentUser.userId != question.author.userId" 
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
        (click) = "dislike()">
            Dislike
        </button>
        <div class="text-m">
            Vote count: {{voteCount}}
        </div>
    </div>
    <div *ngIf="currentUser.email === question.author?.email || currentUser.userType === 'MODERATOR'" 
    class="odd flex justify-between border rounded font-bold px-4 bg-orange-200 text-black">
        <button (click)="editQuestion()">Edit</button>
        <button (click)="deleteQuestion()">Delete</button>
        <button *ngIf="currentUser.userType === 'MODERATOR' && currentUser.email != question.author.email" 
        (click)="toggleBanUser()">
            {{ question.author.banned ? 'Unban' : 'Ban' }}
        </button>
    </div>
</li>