<nav class="flex justify-between p-4 bg-orange-500 text-white">
  <div>
    <h1 class="font-bold">Simple Stackoverflow</h1>
  </div>
  <div>
    <a class="mx-4" routerLink="/"> Home page</a>
    <ng-container *ngIf="!isAuthenticated()">
      <a class="mx-4" routerLink="/login"> Login</a>
      <a class="mx-4" routerLink="/register"> Register</a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <button (click)="logout()" class="mx-4">Logout</button>
      <a class="mx-4" routerLink="/users">Users</a>
      <a class="mx-4" routerLink="/questions/ofUser">My Questions</a>
    </ng-container>
  </div>
</nav>
<router-outlet></router-outlet>